a{
  color: red;
  font-size: 13px 
}

div{
	color:green;
}

#moya_ssilka{
	color: green;
}

#testovaya_ssilka {
 	font-size: 20px;
 	color: purple;
}

.man{
	color: green;
}

.enimal{
	color: blue;
}

.lion{
	color: red;
}

.fish{
	color: orange;
}

.monkey{
	color: yellow
}